<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Historial de Asistencia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-datetime presentation="date" [formControl]="startedAtControl"></ion-datetime>
  <ion-datetime presentation="date" [formControl]="endedAtControl"></ion-datetime>

  <ion-button
    (click)="findAttendancesByEmployee()">
    Buscar
  </ion-button>

  <!-- Tabla-->
  <ion-list>
    @for (attendance of attendances; track attendance.id) {
      <ion-item>
        <ion-label>{{ attendance.registeredAt |date: 'medium' }}</ion-label>
        <ion-label>
          @if (attendance.late) {
            Tarde
          } @else {
            A tiempo
          }
        </ion-label>
        <ion-label>{{ attendance.type.name }}</ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>
