<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registro de Asistencia - {{ authService?.auth?.name }} {{ authService?.auth?.lastname }}
    </ion-title>
    <img src="/assets/images/pages/auth/login/logo_login.png" class="logo" alt="Logo">

    <ion-button (click)="logOut()">Cerra Sesión</ion-button>
  </ion-toolbar>
</ion-header>

<app-password-change>Cambiar Contraseña</app-password-change>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-spinner
    name="lines-small"
    [style.display]="isLoading ? 'block' : 'none'">
  </ion-spinner>



  <!--Listar tipos de timbrada-->
  <ion-list>
    <ion-item>
      <ion-select
        [formControl]="typeControl"
        (ionChange)="register()"
        label="Registrar asistencia"
        placeholder="Seleccione...">
        @for (type of types; track type.id) {
          <ion-select-option [disabled]="!type.enabled"
                             [value]="type">{{ type.name }}
          </ion-select-option>
        }
      </ion-select>
    </ion-item>
  </ion-list>

  <!-- Tabla-->
  <ion-list>

    @for (attendance of attendances; track attendance.id) {
      <ion-item>
        <ion-label>{{ attendance.registeredAt |date: 'medium' }}</ion-label>
        <ion-label>
          @if (attendance.late) {
            @if (attendance.type.code === 'entry') {
              Tarde
            }
            @if (attendance.type.code === 'exit') {
              Jornada Incompleta
            }
            @if (attendance.type.code === 'lunch_return') {
              Almuerzo fuera del tiempo
            }
          } @else {
            @if (attendance.type.code === 'entry') {
              A tiempo
            }
            @if (attendance.type.code === 'exit') {
              A tiempo
            }
            @if (attendance.type.code === 'lunch_exit') {
              A tiempo
            }
          }
        </ion-label>
        <ion-label>{{ attendance.type.name }}</ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>
