<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="panel">
      <h2>Cambiar Contraseña</h2>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-list>

          <ion-input type="password" label="Ingrese Nueva Contraseña" formControlName = "passwordNew">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
          <ion-button type="submit" expand="full" [disabled]="isSubmitting">
            Cambiar Contraseña
          </ion-button>
        </ion-list>
      </form>
    </div>
  </div>
</ion-content>
